{
    "endOfLine": "auto",
    "arrowParens": "avoid",
    "semi": true,
    "useTabs": false,
    "singleQuote": true,
    "bracketSpacing": true,
    "trailingComma": "all",
    "prettier/prettier": [
        "error",
        {
            "endOfLine": "auto"
        }
    ]
}
